<table class="table">
  <thead>
    <tr>
      <th scope="col">Stats</th>
      <th scope="col">TOTAL:</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Amount of Products</td>
      
      <td><%= @products.count %> </td>
    </tr>
    <tr>
      <td>Amount of Catergories</td>
      
      <td><%= @category.count %> </td>
    </tr>
  </tbody>
</table>